<header class="hero-header">
  <div class="logo-title">
    <img src="/TimeForChristOutreachMinistries/TFCLogo.png" alt="Church Logo" class="church-logo">
    <h1>Welcome To</h1></p>
    <h1>Time For Christ Outreach Ministries</h1></p>
    <h2>Matthew 28:19 "Go therefore and make disciples of all nations, baptising them in the name of the Father, and of the Son, and of the Holy Spirit"</h2>
  </div>

  <nav class="top-links">
    <a href="/TimeForChristOutreachMinistries/">Home</a>
    <a href="/TimeForChristOutreachMinistries/sermons/">Sermons</a>
    <a href="/TimeForChristOutreachMinistries/contact/">Contact</a>
  </nav>
</header>


