<aside class="sidebar">
  <h3>Navigation</h3>
  <a href="/TimeForChristOutreachMinistries/leadership.html">Church Leadership</a>
  <a href="/TimeForChristOutreachMinistries/calendar.html">Church Year Plan</a>
  <a href="/TimeForChristOutreachMinistries/women.html">Women’s Ministry</a>
  <a href="/TimeForChristOutreachMinistries/men.html">Men’s Ministry</a>
  <a href="/TimeForChristOutreachMinistries/youth.html">Youth Ministry</a>
  <a href="/TimeForChristOutreachMinistries/sundayschool.html">Sunday School</a>
  <a href="/TimeForChristOutreachMinistries/gallery.html">Gallery</a>
  <a href="/TimeForChristOutreachMinistries/outreach.html">Community Outreach</a>
</aside>
