<aside class="sidebar">
  <h3>Navigation</h3>
  <a href="/TimeForChristOutreachMinistries/leadership">Church Leadership</a>
  <a href="/TimeForChristOutreachMinistries/calendar">Church Year Plan</a>
  <a href="/TimeForChristOutreachMinistries/women">Women’s Ministry</a>
  <a href="/TimeForChristOutreachMinistries/men">Men’s Ministry</a>
  <a href="/TimeForChristOutreachMinistries/youth">Youth Ministry</a>
  <a href="/TimeForChristOutreachMinistries/sundayschool">Sunday School</a>
  <a href="/TimeForChristOutreachMinistries/gallery">Gallery</a>
  <a href="/TimeForChristOutreachMinistries/outreach">Community Outreach</a>
</aside>
